{% assign label = include.link.label | default: 'Link' %}
{% assign key = include.link.icon | default: label | downcase %}
<a class="social-link" href="{{ include.link.url }}" aria-label="{{ label }}" title="{{ label }}">
  {% if key contains 'email' %}
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M3.75 5.75h16.5v12.5H3.75z" />
      <path d="m4.25 6.25 7.75 6.1 7.75-6.1" />
    </svg>
  {% elsif key contains 'scholar' %}
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M2.5 9.25 12 4.5l9.5 4.75L12 14z" />
      <path d="M6.5 11.5v4.2c1.45 1.55 3.25 2.3 5.5 2.3s4.05-.75 5.5-2.3v-4.2" />
    </svg>
  {% elsif key contains 'orcid' %}
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="9" />
      <path d="M8.2 9.5v6" />
      <path d="M11.1 15.5V8.8h2.15c1.95 0 3.35 1.35 3.35 3.35s-1.4 3.35-3.35 3.35z" />
      <path d="M8.2 7.2h.01" />
    </svg>
  {% elsif key contains 'github' %}
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M9 19.5c-4.5 1.35-4.5-2.25-6.3-2.7" />
      <path d="M15 22v-3.85c.05-.7-.2-1.4-.7-1.9 2.35-.25 4.8-1.15 4.8-5.2a4.05 4.05 0 0 0-1.1-2.8 3.75 3.75 0 0 0-.05-2.8s-.9-.3-2.95 1.1a10.2 10.2 0 0 0-5.4 0c-2.05-1.4-2.95-1.1-2.95-1.1a3.75 3.75 0 0 0-.05 2.8 4.05 4.05 0 0 0-1.1 2.82c0 4.02 2.45 4.92 4.8 5.18-.4.35-.75.95-.75 1.95V22" />
    </svg>
  {% elsif key contains 'linkedin' %}
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M4.75 9.25h3.1v10h-3.1z" />
      <path d="M6.3 6.95a1.65 1.65 0 1 0 0-3.3 1.65 1.65 0 0 0 0 3.3z" />
      <path d="M11.1 9.25h2.95v1.35h.05c.4-.75 1.4-1.55 2.9-1.55 3.1 0 3.65 2.05 3.65 4.7v5.5h-3.1v-4.85c0-1.15-.02-2.65-1.6-2.65-1.62 0-1.86 1.25-1.86 2.57v4.93H11.1z" />
    </svg>
  {% else %}
    <span aria-hidden="true">{{ label | slice: 0 }}</span>
  {% endif %}
  <span class="social-label">{{ label }}</span>
</a>
